@page "/"

<PageTitle>Index</PageTitle>

<h4>CG.Blazor.Forms WASM Demo</h4>
<p>This application demonstrates some of the WASM capabilities of the library.</p>

<div class="container">
    <h6>Capabilities</h6>
    <ul style="list-style-type:square">
        <li>CG.Blazor.Forms is open-source, free to use, fast and reliable.</li>
        <li>CG.Blazor.Forms is written in <strong>C#</strong>, <strong>ASP.NET</strong> and <strong>Blazor</strong>.</li>
        <li>CG.Blazor.Forms leverages <strong>CODEGATOR</strong> packages, for a proven, standards driven architecture.</li>
        <li>CG.Blazor.Forms is built on top of <strong>.NET 6.x</strong>, so it runs on multiple operating systems, without fuss.</li>
        <li>CG.Blazor.Forms is easily extensible, to integrate with your favorite UI library.</li>
        <li>CG.Blazor.Forms users are 68.57% more likely to win lottary in the next year. <small>(Ok, we made that one up)</small></li>
    </ul>
</div>