@page "/"
@inject ISnackbar Snackbar;

<h1>Dynamic Forms Demo</h1>

<MudContainer MaxWidth="MaxWidth.Small">
    <MudTabs>
        <MudTabPanel Text="Simple">
            <DynamicForm Model="@SimpleModel" OnValidSubmit="OnValidSubmit1"/>
        </MudTabPanel>
        <MudTabPanel Text="Complex">
            <DynamicForm Model="@ComplexModel" OnValidSubmit="OnValidSubmit2"/>
        </MudTabPanel>
    </MudTabs>
</MudContainer>

@code {

    SimpleModel SimpleModel { get; set; } = new SimpleModel();
    ComplexModel ComplexModel { get; set; } = new ComplexModel();

    private void OnValidSubmit1(EditContext editContext)
    {
        Snackbar.Add(
            $"OnValidSubmit handler called @ '{DateTime.Now}' " +
                $"Model: '{JsonSerializer.Serialize(SimpleModel,new JsonSerializerOptions { WriteIndented = true })}'",
                Severity.Normal,
                options => options.VisibleStateDuration = 6000
            );
    }

    private void OnValidSubmit2(EditContext editContext)
    {
        Snackbar.Add(
            $"OnValidSubmit handler called @ '{DateTime.Now}' " +
                $"Model: '{JsonSerializer.Serialize(ComplexModel,new JsonSerializerOptions { WriteIndented = true })}'",
                Severity.Normal,
                options => options.VisibleStateDuration = 6000
                );
    }
}
